<a href="https://colab.research.google.com/github/jyotidabass/Python_for_beginners/blob/main/Python_for_beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="Jassi"
age=56

name="kriti"
age=44.0

is_adult =True
print(name)
print(age)

kriti
44.0

In [ ]:
# Second program

name=input("What is your name?")
print("Hello"+name)

What is your name?jyoti
Hellojyoti

In [ ]:
#Third program
old_age=input("enter your old age:")
new_age=int(old_age)+2
print(new_age)

enter your old age:27
29

In [ ]:
#fourth program
number=18
print(float(18))

18.0

In [ ]:
#fifth program
first=input("enter first number:")
second=input("enter second number:")
sum=int(first) +int(second)
print("the sum is :" +str(sum))

enter first number:23
enter second number:25
the sum is :48

In [ ]:
#sixth program
name="Tony Stark"
print(name.upper())
print(name)

TONY STARK
Tony Stark

In [ ]:
#seventh program
name="Tony Stark"
print(name.lower())
print(name)

tony stark
Tony Stark

In [ ]:
#eight program
name="Tony Stark"

print(name.find('S'))

5

In [ ]:
#ninth program
name="Tony Stark"

print(name.find('stark'))

-1

In [ ]:
#tenth program
name="Tony Stark"

print(name.replace("T", "M"))
print(name)

Mony Stark
Tony Stark

In [ ]:
#eleventh program
name="Tony Stark"
print('T' in name)

True

In [ ]:
#twelve program
print(5+2)
print(5//2)

7
2

In [ ]:
#thirteen
i=5
i=i+2
i+=2
i-=2
i*=2

In [ ]:
#fourteen
result=2+3*5
print(result)

17

In [ ]:
#fifteen
age=19
if age>=18:
    print("you are an adult")
    print("you can vote")
elif age<18 and age>3:
    print("you are in school")
else:
    print("you are a child")

print("thank you")

you are an adult
you can vote
thank you

In [ ]:
#sixteen
first=input("enter first number:")
operator=input("enter operator (+,-,*,/,%):")
second=input("enter second number:")
first=int(first)
second=int(second)

if operator=="+":
    print(first+second)
elif operator=="-":
    print(first-second)
elif operator=="*":
    print(first*second)
elif operator=="/":
    print(first/second)
elif operator=="%":
    print(first % second)
else:
    print("Invalid Operations")

enter first number:34
enter operator (+,-,*,/,%):+
enter second number:56
90

In [ ]:
#seventeen
numbers=range(5) #0,1 ,2,3,4
print(numbers)

range(0, 5)

In [ ]:
#eighteen
print(1)
print(2)
print(3)
i=1
while i<=100:
    print(i)
    i=i+5

1
2
3
1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [ ]:
#nineteen
i=1
while i<=5:
    print(i * "*")
    i=i+1

*
**
***
****
*****

In [ ]:
#twenty
i=5
while i>=0:
    print(i * "*")
    i=i-1

*****
****
***
**
*

In [ ]:
#twenty one
for item in range(5):
    print(item+1)

1
2
3
4
5

In [ ]:
#twenty two
marks=[95,98,97,"maths"]
print(marks)

[95, 98, 97, 'maths']

In [ ]:
#twenty two-continue
marks=[95,98,97]
print(marks[0])

95

In [ ]:
#twenty two-continue
marks=[95,98,97]
print(marks[-1])

97

In [ ]:
#twenty two-continue
marks=[95,98,97]
print(marks[0:2])

[95, 98]

In [ ]:
#twenty three
marks=[95,98,97]
for score in marks:
    print(score)

95
98
97

In [ ]:
#twenty four
marks=[95,98,97]
marks.append(99)
print(marks)

[95, 98, 97, 99]

In [ ]:
#twenty five
marks=[95,98,97]
marks.insert(0,99)
print(marks)

[99, 95, 98, 97]

In [ ]:
#twenty six
marks=[95,98,97]
marks.insert(0,99)
print(99 in marks)

True

In [ ]:
#twenty seven
marks=[95,98,97]
marks.insert(0,99)
print(len(marks))

4

In [ ]:
#twenty eight
marks=[95,98,97]
i=0
while i<len(marks):
    print(marks[i])
    i=i+1

marks.clear()
print(marks)

95
98
97
[]

In [ ]:
#twenty nine
students=["ram", "shyam", "kishan", "radha", "radhika"]

for student in students:
    if student=="radha":
        break;
        print(student)

In [ ]:
#thirty
students=["ram", "shyam", "kishan", "radha", "radhika"]

for student in students:
    if student=="kishan":
        continue;
        print(student)

In [ ]:
#thirty one-tuple
marks=(95,97,98,97,97)
print(marks.count(97))
print(marks.index(97))

3
1

In [ ]:
#thirty two- set
marks={95,97,98,97,97}
person="ram", "shyam", "abhi"

In [ ]:
#thity three
marks={95,98,97,97,97}

for score in marks:
    print(score)

97
98
95

In [ ]:

#thity four
marks={"english":95, "chemistry" :98}
information={"ram" : "balkishan"}
print(marks["chemistry"])

marks["physics"]=97;
print(marks)
marks["physics"] =99;
print(marks)

98
{'english': 95, 'chemistry': 98, 'physics': 97}
{'english': 95, 'chemistry': 98, 'physics': 99}

In [ ]:
#thity five
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
#thity six
from math import sqrt
print(sqrt(4))

2.0

In [ ]:
#thity seven
from math import *
print(sqrt(16))

4.0

In [ ]:
#thirty eight
def print_sum(first, second):
    print(first+ second)

print_sum(1,2)

3

In [ ]:
# thirty nine
def print_sum(first, second=4):
    print(first + second)


print_sum(1)

5